{{#section 'title'}} Điện thoại di động | MobileN {{/section}} {{#section 'header'}}
<link rel="stylesheet" type="text/css" href="/assets/css/productView.css"> {{/section}}

<div class="around">
  <!--Màu xung quanh-->
  <div class="container">
    <!--Container-->
    <!--Điện thoại di động-->
    <div id="textDauTrang">
      <content id="textTrangchu">Trang chủ</content>
      <img src="/assets/icons/directory.png" id="hinhMuiTen">
      <content style="font-size: 15px;" id="txtTimKiemGoiY">Điện thoại di động</content>
    </div>
    <!--Close điện thoại di động-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/img/banners/banner1.png" alt="Los Angeles">
        </div>
        <div class="item">
          <img src="/assets/img/banners/banner2.png" alt="Chicago">
        </div>
        <div class="item">
          <img src="/assets/img/banners/banner3.png" alt="New York">
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background-image: none; margin-left: -50px;">
        <img src="/assets/icons/to-left-arrow.png" width="50px" class="btnLeft leftPV">
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background-image: none;">
        <img src="/assets/icons/to-right-arrow.png" width="50px" class="btnRight rightPV">
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="row" id="phanSanPham">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="leftPart">
        <!--div bên trái-->
        <div id="phanLoai">
          <!--Khung nhà sản xuât-->
          <content id="titlePhanLoai">NHÀ SẢN XUẤT</content>
          <div>
            <a href="/search?keyword=HTC" onclick="clickNSX(this)">HTC</a>
          </div>
          <div>
            <a href="/search?keyword=Samsung" onclick="clickNSX(this)">Samsung</a>
          </div>
          <div>
            <a href="/search?keyword=Apple" onclick="clickNSX(this)">Apple</a>
          </div>
          <div>
            <a href="/search?keyword=Oppo" onclick="clickNSX(this)">Oppo</a>
          </div>
          <div>
            <a href="/search?keyword=Xiaomi" onclick="clickNSX(this)">Xiaomi</a>
          </div>
          <div>
            <a href="/search?keyword=Huawei" onclick="clickNSX(this)">Huawei</a>
          </div>
          <div>
            <a href="/search?keyword=Honor" onclick="clickNSX(this)">Honor</a>
          </div>
          <div>
            <a href="/search?keyword=Sharp" onclick="clickNSX(this)">Sharp</a>
          </div>
          <div>
            <a href="/search?keyword=Nokia" onclick="clickNSX(this)">Nokia</a>
          </div>
          <div>
            <a href="/search?keyword=Sony" onclick="clickNSX(this)">Sony</a>
          </div>
          <div class="themNsx">
            <a href="/search?keyword=BlackBerry" onclick="clickNSX(this)">BlackBerry</a>
          </div>
          <div class="themNsx">
            <a href="/search?keyword=Wiko" onclick="clickNSX(this)">Wiko</a>
          </div>
          <div class="themNsx">
            <a href="/search?keyword=Philips" onclick="clickNSX(this)">Philips</a>
          </div>
          <div id="phanXemThem">
            <a href="" onclick="return false;" class="xemThem">
              Xem thêm
              <img src="/assets/icons/down-arrow.png" id="hinhXemThem">
            </a>
          </div>
          <div id="phanThuGonNSX">
            <a href="" onclick="return false;" class="xemThem">
              Thu gọn
              <img src="/assets/icons/up-arrow.png" id="hinhXemThem">
            </a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung nhà sản xuât-->
        <div id="phanLoai">
          <!--Khung giá-->
          <content id="titlePhanLoai">GIÁ</content>
          <div>
            <content>Từ</content>
            <content id="den">Đến</content>
          </div>
          <div>
            <input type="text" class="form-control" name="" id="tienTrai"> &nbsp -
            <input type="text" class="form-control" name="" id="tienPhai">
            <div>
              <button class="btn" id="OK">
                OK
              </button>
            </div>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung giá-->
        <div id="phanLoai">
          <!--Khung đánh giá-->
          <content id="titlePhanLoai">ĐÁNH GIÁ</content>
          <div>
            <img src="/assets/icons/ratings/4.png" id="danhgia">
            <a>(ít nhất 4 sao)
              <br>
            </a>
            <a>
              <img src="/assets/icons/ratings/3.png" id="danhgia">
              <a>(ít nhất 3 sao)
                <br>
              </a>
              <a>
                <img src="/assets/icons/ratings/2.png" id="danhgia">
                <a>(ít nhất 2 sao)
                  <br>
                </a>
                <a>
                  <img src="/assets/icons/ratings/1.png" id="danhgia">
                  <a>(ít nhất 1 sao)
                    <br>
                  </a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung đánh giá-->
        <div id="phanLoai">
          <!--Khung kích thước màn hình-->
          <content id="titlePhanLoai">KÍCH THƯỚC MÀN HÌNH</content>
          <div>
            <a href="">Dưới 4.5 inch</a>
          </div>
          <div>
            <a href="">Từ 4.5 inch đến 5 inch</a>
          </div>
          <div>
            <a href="">Từ 5 inch đến 5.5 inch</a>
          </div>
          <div>
            <a href="">Trên 5 inch</a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung kích thước màn hình-->
        <div id="phanLoai">
          <!--Khung độ phân giải camera sau-->
          <content id="titlePhanLoai">ĐỘ PHÂN GIẢI CAMERA SAU</content>
          <div>
            <a href="/search?cmrsau=8MP">Dưới 8 MP</a>
          </div>
          <div>
            <a href="/search?cmrsau=10MP">Từ 8 MP đến 10 MP</a>
          </div>
          <div>
            <a href="/search?cmrsau=14MP">Từ 10 MP đến 14 MP</a>
          </div>
          <div>
            <a href="/search?cmrsau=16MP">Từ 14 MP đến 16 MP</a>
          </div>
          <div>
            <a href="/search?cmrsau=17MP">Trên 16 MP</a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung độ phân giải camera sau-->
        <div id="phanLoai">
          <!--Khung độ phân giải camera trước-->
          <content id="titlePhanLoai">ĐỘ PHÂN GIẢI CAMERA TRƯỚC</content>
          <div>
            <a href="">Dưới 5 MP</a>
          </div>
          <div>
            <a href="">Từ 5 MP đến 8 MP</a>
          </div>
          <div>
            <a href="">Từ 8 MP đến 12 MP</a>
          </div>
          <div>
            <a href="">Trên 12 MP</a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung độ phân giải camera trước-->
        <div id="phanLoai">
          <!--Khung dung lượng pin-->
          <content id="titlePhanLoai">DUNG LƯỢNG PIN</content>
          <div>
            <a href="">Dưới 2500 mAh</a>
          </div>
          <div>
            <a href="">Từ 2500 mAh đến 3500 mAh</a>
          </div>
          <div>
            <a href="">Từ 3500 mAh đến 5000 mAh</a>
          </div>
          <div>
            <a href="">Trên 3500 mAh</a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung dung lượng pin-->
        <div id="phanLoai">
          <!--Khung bộ nhớ-->
          <content id="titlePhanLoai">BỘ NHỚ</content>
          <div>
            <a href="">8 GB</a>
          </div>
          <div>
            <a href="">16 GB</a>
          </div>
          <div>
            <a href="">32 GB</a>
          </div>
          <div>
            <a href="">64 GB</a>
          </div>
          <div>
            <a href="">128 GB</a>
          </div>
          <div>
            <a href="">256 GB</a>
          </div>
        </div>
        <!--Close khung bộ nhớ-->
      </div>
      <!--Close div bên trái-->
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <!--Div bên phải-->
        <div>
          <!--Sắp xếp, tìm kiếm-->
          <content id="textSapXep">Sắp xếp theo:</content>
          <select class="form-control" id="sapXep">
            <option selected>Gần nhất</option>
            <option>Xa nhất</option>
          </select>
          <form id="timKiemdtdd" name="searchDT" ass="search-form squareDT" role="form" action="" method="post">
            <div class="input-group">
              <input type="text" class="form-control timKiemSP" id="timKiemtrongDT" name="valueSearch" placeholder="Tìm kiếm sản phẩm trong điện thoại di động">
              <div class="input-group-btn" style="border-radius: 5px">
                <button class="btn btn-default timKiemSP" id="btnFindDT" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <!--Close Sắp xếp, tìm kiếm-->
        <div class="row">
          {{#each sanpham}}
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <a href="/product-detail/{{ID}}" style="text-decoration:none">
            <div class="thumbnail itemProduct">
              <img class="imgProduct2" src="/assets/img/products/{{ID}}/1.png" alt="{{TenSanPham}}" title="{{TenSanPham}}">
              <div class="caption" style="text-align:center">
                <div class="nameProduct2">{{TenSanPham}}</div>
                <content class="priceProduct2">{{number_format GiaDaiDien}} đ</content>
               
                <img src="/assets/icons/ratings/{{Rate}}.png" class="danhgiaRight">
               
                <div id="btnThem">
                  <button class="btn Them btnThemVaoGio">THÊM VÀO GIỎ</button>
                </div>
              </div>
            </div>
            </a>
          </div>
          {{/each}}
        </div>

        <div style="text-align:center">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
            {{#each page_numbers}} {{#if isCurPage}}
            <li class="active">
              <a href="javascript:;">{{value}}</a>
            </li>
            {{else}}
            <li>
              <a href="?page={{value}}">{{value}}</a>
            </li>
            {{/if}} {{/each}}
            <li>
              <a href="" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--Close div bên phải-->
    </div>
  </div>
  <!--Close Container-->
</div>
<!--Close Màu xung quanh-->

{{#section 'script'}}
<script>
  $(".btnThemVaoGio").click(function (event) {
    if (sessionStorage.getItem("username")) {

    }
    else {
      $("#myModal").show();
    }

  });
  $("#btnXacNhanDK").click(function () {
    $("#myModal").hide();
    window.location.href = "/login";
  })
</script>
<script type="text/javascript">
  var clickNSX = function (keyword) {
    localStorage["selectedKeyword"] = keyword.innerHTML;
  }
</script>
<script type="text/javascript" src="/assets/js/productDetail.js"></script> {{/section}}