{{#section 'title'}} MobileN - Đăng ký {{/section}}{{#section 'header'}}
<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
<link rel="stylesheet" type="text/css" href="/assets/css/signup.css"> {{/section}}

<div style="background-color: #FAFAFA;" id="background">
    <!--Màu nền-->
    <content id="chaomung">Chào mừng bạn đến với MobileN! Đăng ký ngay!</content>
    <div class="row" id="formLogin">
        <!--Left Form-->
        <div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            
                <form method="POST" action="" role="form">
                    <div class="nameField">
                        EMAIL
                        <label class="batbuoc">*</label>
                    </div>
                    <input placeholder="abc@gmail.com" name="email" class="form-control inputField validInput" id="emailInput" required="" value={{user.email}}>
                    {{#if popup}}
                    <label class="batbuoc" id="email">Email đã được sử dụng</label>
                    {{else}}
                    <label class="batbuoc" id="email">Bắt buộc</label>
                    {{/if}}
                    <div class="nameField">
                        HỌ TÊN
                        <label class="batbuoc">*</label>
                    </div>
                    <input placeholder="Họ tên đầy đủ" name="fullname" class="form-control inputField validInput" id="phoneInput" required="" value={{user.fullname}}>
                    <label class="batbuoc" id="phone">Bắt buộc</label>
                    <div class="nameField">
                        SỐ ĐIỆN THOẠI
                        <label class="batbuoc">*</label>
                    </div>
                    <input placeholder="Số điện thoại" name="phone" class="form-control inputField validInput" id="hotenInput" required="" value={{user.phone}}>
                    <label class="batbuoc" id="hoten">Bắt buộc</label>
                    <div class="nameField">
                        MẬT KHẨU
                        <label class="batbuoc">*</label>
                    </div>
                    <input placeholder="******" name="password" class="form-control inputField validInput" type="password" id="matkhauInput"
                        required="">
                    <label class="batbuoc" id="matkhau">Bắt buộc</label>
                    <div class="nameField">
                        NHẬP LẠI MẬT KHẨU
                        <label class="batbuoc">*</label>
                    </div>
                    <input placeholder="******" class="form-control inputField validInput" type="password" id="retypeInput" required="">
                    <label class="batbuoc" id="nhaplaimatkhau">Bắt buộc</label>
                    <div class="nameField">
                        CHỨNG MINH NHÂN DÂN
                        <label class="batbuoc">*</label>
                    </div>
                    <input placeholder="Chứng minh nhân dân" name="cmnd" class="form-control inputField validInput" id="cmndInput" required="" value={{user.cmnd}}>
                    <label class="batbuoc" id="cmnd">Bắt buộc</label>
                    <div class="nameField">
                        NGÀY SINH
                        <label id="nameGioiTinh">GIỚI TÍNH</label>
                    </div>
                    <div id="finalRow">
                        <div id="divNgaySinh">
                            <input placeholder="DD/MM/YYYY" name="dob" type="date" id="ngaySinh" class="form-control validInput" value={{user.dob}}>
                            <div id="ngaysinh"></div>
                        </div>
                        <div id="divGioiTinh">
                            <select class="form-control" id="gioiTinh" name="sex">
                                <option selected="">Nam</option>
                                <option>Nữ</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br> {{!--
                    <div class="g-recaptcha" data-sitekey="6LfJzFUUAAAAACknKtyjM6e-yrTvWcuBw0r3bZBi" data-callback="recaptchaCallback">
                        <div style="width: 304px; height: 78px;">
                            <div>
                                <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfJzFUUAAAAACknKtyjM6e-yrTvWcuBw0r3bZBi&amp;co=ZmlsZTo.&amp;hl=en&amp;v=v1525674693836&amp;size=normal&amp;cb=dv4it4ucvusq"
                                    width="304" height="78" role="presentation" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                            </div>
                            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea>
                        </div>
                    </div> --}}
                    <label id="checkBoxFinal">
                        <input class="validInput" type="checkbox" name="" id="checkPolicy" required=""> Tôi đồng ý với Điều kiện sử dụng và chính sách bảo mật của MobileN
                    </label>
                    <div id="divdangKy" class="buttonDangKy">
                        <button type="submit" class="btn btn-primary" id="SignUp">
                            ĐĂNG KÝ
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
        <!--Close left Form-->
        <div id="rightForm1" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <!--Right Form-->
            <div id="textRight1">
                <h2>Đã có tài khoản MobileN?</h2>
                <h1>Chào mừng trở lại!</h1>
            </div>
            <div id="dangKyRight" class="buttonDangKy">
                <button class="btn" id="buttonDangNhap">
                    ĐĂNG NHẬP
                </button>
            </div>
        </div>
        <!--Close Right Form-->
    </div>
</div>
<div id="backtop" style="position: fixed; top: 90%; left: 95%;">
    <a href="#">
        <img src="./assets/icons/top.png" style="opacity: 0.5; width: 50px">
    </a>
</div>

{{#section 'script'}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $("#SignUp").click(function () {
        var count = 0;
        $('input').each(function () {
            if ($(this).hasClass('validInput')) {
                count++;
            }
        });
        if (count > 0) return;
    })
    $("#btnXacNhanDK").click(function () {
        $("#myModal").hide();
        window.location.href = "index.html";
    });

    var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
    $('#emailInput').blur(function () {
        if (this.value === '') {
            $('#email').html("Không được để trống");
            $('#emailInput').attr('style', 'border: 1px solid #ff3c00; box-shadow: 0px  0px 10px rgba(255,60,0,0.5);');
            $('#emailInput').removeClass("validInput");
        }
        else {
            if (testEmail.test(this.value)) {
                $('#email').html('Bắt buộc');
                $('#emailInput').attr('style', '');
                $('#emailInput').addClass("validInput");
            }
            else {
                $('#email').html("Email không hợp lệ");
                $('#emailInput').attr('style', 'border: 1px solid #ff3c00; box-shadow: 0px  0px 10px rgba(255,60,0,0.5);');
                $('#emailInput').removeClass("validInput");
            }
        }
    });
    $('#hotenInput').blur(function () {
        if (this.value === '') {
            $('#hoten').html("Không được để trống");
            $('#hotenInput').attr('style', 'border: 1px solid #ff3c00; box-shadow: 0px  0px 10px rgba(255,60,0,0.5);');
            $('#hotenInput').removeClass("validInput");
        }
        else {
            $('#hoten').html("Bắt buộc");
            $('#hotenInput').attr('style', '');
            $('#hotenInput').addClass("validInput");
        }
    });
    $('#cmndInput').blur(function () {
        if (this.value === '') {
            $('#cmnd').html("Không được để trống");
            $('#cmndInput').attr('style', 'border: 1px solid #ff3c00; box-shadow: 0px  0px 10px rgba(255,60,0,0.5);');
            $('#cmndInput').removeClass("validInput");
        }
        else {
            $('#cmnd').html("Bắt buộc");
            $('#cmndInput').attr('style', '');
            $('#cmndInput').addClass("validInput");
        }
    });
    $('#retypeInput').blur(function () {
        if (this.value === '') {
            $('#nhaplaimatkhau').html("Không được để trống");
            $('#retypeInput').attr('style', 'border: 1px solid #ff3c00; box-shadow: 0px  0px 10px rgba(255,60,0,0.5);');
            $('#retypeInput').removeClass("validInput");
        }
        else {
            if (this.value === $('#matkhauInput').val()) {
                $('#nhaplaimatkhau').html('Bắt buộc');
                $('#retypeInput').attr('style', '');
                $('#retypeInput').addClass("validInput");
            }
            else {
                $('#nhaplaimatkhau').html("Mật khẩu không khớp");
                $('#retypeInput').attr('style', 'border: 1px solid #ff3c00; box-shadow: 0px  0px 10px rgba(255,60,0,0.5);');
                $('#retypeInput').removeClass("validInput");
            }
        }
    });
    $('#matkhauInput').blur(function () {
        if (this.value === '') {
            $('#matkhau').html("Không được để trống");
            $('#matkhauInput').attr('style', 'border: 1px solid #ff3c00; box-shadow: 0px  0px 10px rgba(255,60,0,0.5);');
            $('#matkhauInput').removeClass("validInput");
        }
        else {
            $('#matkhau').html("Bắt buộc");
            $('#matkhauInput').attr('style', '');
            $('#matkhauInput').addClass("validInput");
        }
    });
 
    function recaptchaCallback() {
        document.getElementById('SignUp').disabled = false;
    };
</script> {{/section}}