<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{{_sections.title}}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="/assets/icons/fav.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/OurCss.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> {{{_sections.header}}}
</head>

<body>

  <nav class="narbavIndex">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="home" id="MobileN">MobileN</a>
      </div>
      <ul class="nav navbar-nav" style="padding-left:70px">
        <li onclick="menuToggle(); return false;" id="dmsp">
          <a class="liNav" href="#">
            <img src="/assets/icons/menu.png" id="menuIcon" width="18px" style="margin-right: 10px;">&nbsp DANH MỤC SẢN PHẨM</a>
        </li>
        {{#if layoutVM.isLogged}}
        <li onclick="menuTKToggle(); return false;" style="text-transform:upper
        se" id="navUsername">
          <a class="liNav" href="#" style="text-transform: uppercase;">{{layoutVM.curUser.HoTen}}</a>
        </li>
        {{else}}
        <li id="navDangKy" >
          <a class="liNav" href="signup">ĐĂNG KÍ</a>
        </li>
        <li id="navDangNhap" >
          <a class="liNav" href="login">ĐĂNG NHẬP</a>
        </li>
        {{/if}}
        <li>
          <a class="liNav" href="/cart" id="gioHang">
            GIỎ HÀNG &nbsp
            <div class="text" id="Count">{{layoutCount.count}}</div>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form search-form square" role="form" action="/search" method="POST">
          <div class="input-group">
            <input type="text" class="form-control" name="search" id="find" placeholder="Tìm kiếm sản phẩm">
            <div class="input-group-btn" style="border-radius: 5px">
              <button class="btn btn-default" type="submit" id="btnFind">
                <i class="glyphicon glyphicon-search" name="soluonghang"></i>
              </button>
            </div>
          </div>
        </form>
      </ul>
    </div>
    <div class="menuDanhMuc" id="menuDanhMuc" style="display: none; z-index: 999">
      <!--Open menu-->
      <table class="menuTable">
        <tr>
          <td width="34%" class="menuTd">
            <div class="menuTit">LOẠI SẢN PHẨM</div>
            <ul class="menuUl">
              <li>
                <a href="/search?LoaiSP=DienThoaiDiDong" class="itemMenu" onclick="clickKeyword(this)" href="product-view">Điện thoại di động</a>
              </li>
              <li>
                <a href="/search?LoaiSP=MayTinhBang" class="itemMenu" onclick="clickKeyword(this)" href="product-view">Máy tính bảng</a>
              </li>
            </ul>
            <td width="1%" height="100%">
              <img src="/assets/misc/seperator-menu.png" height="240px">
            </td>
            <td width="65%" class="menuTd" style="padding-left: 30px;">
              <div class="menuTit">NHÀ SẢN XUẤT</div>
              <ul class="menuUl columnUl">
                {{#each layoutVM2.NSX}}
                <li>
                  <a href="/search?nsx={{NhaSanXuat}}" class="itemMenu" onclick="clickKeyword(this)" href="{{ID}}">{{NhaSanXuat}}</a>
                </li>
                {{/each}}
              </ul>
            </td>
        </tr>
      </table>
    </div>
    <!--Close menu-->
    <div class="menuAccount" id="menuAccount" style="display: none;">
      <!--Open account menu-->
      <table class="menuTable">
        <tr>
          <ul class="menuUl" style="padding-left: 30px; line-height: 30px;">
            <li>
              <a class="itemMenu" href="/info-account">Thông tin tài khoản</a>
            </li>
            <li>
              <a class="itemMenu" href="package">Đơn hàng của bạn</a>
            </li>
            <li onclick="">
              <a class="itemMenu" href="/logout">Đăng xuất</a>
            </li>
          </ul>
        </tr>
      </table>
    </div>
    <!--Close account menu-->
    {{{_sections.moTaFixed}}}
  </nav>

  {{{body}}}


  <!--Thông tin web-->
  <div class="info">
    <div class="row" style="width: 100%">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <content id="titleInfo">HỖ TRỢ KHÁCH HÀNG</content>
        <br> Hotline: 0129 599 1264
        <br>
        <a href="about" id="contentInfo">Các câu hỏi thường gặp</a>
        <br>
        <a href="about" id="contentInfo">Gửi yêu cầu hỗ trợ</a>
        <br>
        <a href="about" id="contentInfo">Hướng dẫn đặt hàng</a>
        <br>
        <a href="about" id="contentInfo">Phương thức vận chuyển</a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <content id="titleInfo">VỀ MobileN</content>
        <br>
        <a href="about" id="contentInfo">Giới thiệu chúng tôi</a>
        <br>
        <a href="about" id="contentInfo">Giới thiệu MobileN</a>
        <br>
        <a href="about" id="contentInfo">Chính sách bảo mật</a>
        <br>
        <a href="about" id="contentInfo">Điều khoản sử dụng</a>
        <br>
        <a href="about" id="contentInfo">Chính sách bảo mật</a>
        <br>
        <a href="about" id="contentInfo">Điều khoản sử dụng</a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <content id="titleInfo">KẾT NỐI VỚI CHÚNG TÔI</content>
        <br>
        <div id="spacingInfoFB">
          <img id="topNewest" src="/assets/icons/facebook.png">
          <a href="https://www.facebook.com/do.nguyen131197" id="contentInfo" target="_blank">/do.nguyen131197</a>
          <br>
        </div>
        <div id="spacingInfoFB">
          <img id="topNewest" src="/assets/icons/facebook.png">
          <a href="https://www.facebook.com/nha.tran.52493" id="contentInfo" target="_blank">/nha.tran.52493</a>
          <br>
        </div>
        <div id="spacingInfoFB">
          <img id="topNewest" src="/assets/icons/facebook.png">
          <a href="https://www.facebook.com/lee.huunghi" id="contentInfo" target="_blank">/lee.huunghi</a>
          <br>
        </div>
        <div id="spacingInfoFB">
          <img id="topNewest" src="/assets/icons/location.png">
          <a href="https://www.google.com/maps/place/243%2F4+H%E1%BB%93ng+B%C3%A0ng,+Ph%C6%B0%E1%BB%9Dng+11,+Qu%E1%BA%ADn+5,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7547437,106.6596449,17z/data=!3m1!4b1!4m5!3m4!1s0x31752ef0e13e1201:0xa4dc1680ef49dc0!8m2!3d10.7547384!4d106.6618336" id="contentInfo">243/4 Hồng Bàng, phường 11, quận 5</a>
        </div>
      </div>
    </div>
    <table border="2">
      <tr>
        <td align="center">
          MobileN - All right reserved &nbsp &nbsp | &nbsp &nbsp Copyright © 2018 MobileN
        </td>
      </tr>
    </table>
    <!--Close thông tin web-->


    <div id="backtop" style="position: fixed; top: 90%; left: 95%;">
      <a href="#">
        <img src="/assets/icons/top.png" style="opacity: 0.5; width: 50px;">
      </a>
    </div>

    <script src="/assets/js/xuLyMenu.js"></script>
    <script type="text/javascript" src="/assets/js/trangchu.js"></script> {{{_sections.script}}}
</body>

</html>