{{#section 'title'}} Thông tin tài khoản {{/section}} {{#section 'header'}}
<link rel="stylesheet" type="text/css" href="/assets/css/infoAccount.css">
<link rel="stylesheet" type="text/css" href="/assets/css/confirmPurchase.css"> {{/section}} {{body}}
<div class="background">
  <!--Background-->
  <div class="container">
    <!--Container-->
    <div class="nameInfo">Đỗ Hữu Nhật Nguyên</div>
    <div class="row divInfo">
      <!--Row-->
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        <div class="thongTinTk">Thông tin tài khoản</div>
        <div>Đơn hàng của tôi</div>
      </div>
      {{#with account}}
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="wrapperInfo">
          <!--wrapper thông tin-->
          <div>
            <div class="hoSo">HỒ SƠ</div>
            <table style="margin-left: 0px; margin-top: 0px;">
              <tr>
                <td class="cotTrai">Họ và tên</td>
                <td>{{HoTen}}</td>
              </tr>
              <tr>
                <td class="cotTrai">Email</td>
                <td>{{Email}}</td>
              </tr>
              <tr>
                <td class="cotTrai">Số điện thoại</td>
                <td>{{Sdt}}</td>
              </tr>
              <tr>
                <td class="cotTrai">Chứng minh nhân dân</td>
                <td>{{Cmnd}}</td>
              </tr>
              <tr>
                <td class="cotTrai">Ngày sinh</td>
                <td>{{NgaySinh}}</td>
              </tr>
              <tr>
                <td class="cotTrai">Giới tính</td>
                <td>{{GioiTinh}}</td>
              </tr>
            </table>
          </div>
          <div>
            <button class="btn btnChinhSua" id="nguoiMua">
              CHỈNH SỬA
            </button>
          </div>
          <div class="seperatorNgangInfo">
            <img src="/assets/misc/seperator-AccInfo-Package.png" style="width: 100%">
          </div>
          <div>
            <div class="hoSo">THÔNG TIN NHẬN HÀNG</div>
            <table style="margin-left: 80px; margin-top: 10px;">
              <tr>
                <td class="cotTrai">Họ và tên</td>
                <td>Thiếu </td>
              </tr>
              <tr>
                <td class="cotTrai">Số điện thoại</td>
                <td>Thiếu</td>
              </tr>
              <tr>
                <td class="cotTrai">Địa chỉ</td>
                <td>Thiếu</td>
              </tr>
              <tr>
                <td class="cotTrai">Quận/Huyện</td>
                <td>Thiếu</td>
              </tr>
              <tr>
                <td class="cotTrai">Thành phố/Tỉnh</td>
                <td>Thiếu</td>
              </tr>
            </table>
            <br>
          </div>
          <div>
            <button class="btn btnChinhSua" id="nhanHang">
              CHỈNH SỬA
            </button>
          </div>
        </div>
              {{/with}}
        <!-- Close wrapper thông tin-->
      </div>
    </div>
    <!--Close row-->
  </div>
  <!--Close Container-->
</div>