{{#section 'title'}} Thanh toán {{/section}} {{#section 'header'}}
<link rel="stylesheet" type="text/css" href="/assets/css/cart.css">
<link rel="stylesheet" type="text/css" href="/assets/css/confirmPurchase.css">
<link rel="stylesheet" type="text/css" href="/assets/css/productDetail.css"> {{/section}} {{body}}
<div class="aroundCart">
  <div class="container">
    <div class="titleGiohang">
      <content style="font-size: 30px;">Thanh toán</content>
    </div>
    <div class="divThanhToan">
      <!--Div màu nền trắng-->
      <content class="hinhAnh">THÔNG TIN NHẬN HÀNG</content>
      <table class="tableThongSo">
              {{#with account}}
        <tr class="nameThongSo">
          <td class="cotTrai">Họ tên</td>
                <td>{{HoTenReceiver}}</td>
        </tr>
        <tr class="nameThongSo">
          <td class="cotTrai">Địa chỉ</td>
                <td>{{DiaChiReceiver}}</td>
        </tr>
              
        <tr class="nameThongSo">
          <td class="cotTrai">Số điện thoại</td>
                <td>{{SDTReceiver}}</td>
        </tr>
              {{/with}}
      </table>
            <a href="/receiver-update?retUrl=confirm-purchase">
      <div class="divbtnChinhSua">
        <button class="btn btnChinhSua" id="nhanHang">CHỈNH SỬA</button>
      </div></a>
      <content class="hinhAnh">PHƯƠNG THỨC THANH TOÁN</content>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <button class="btn btnPhuongThuc" id="btnCOD">
            COD
          </button>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <button class="btn btnPhuongThuc" id="btnVisa">
            VISA
          </button>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <button class="btn btnPhuongThuc" id="btnMastercard">
            Mastercard
          </button>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <button class="btn btnPhuongThuc" id="btnNapas">
            Thẻ nội địa
          </button>
        </div>
      </div>
      <div id="visaContent">
        <table class="divCard">
          <tr>
            <td class="card">
              <img src="./assets/img/purchase-method/visa.png" class="imgCard">
            </td>
            <td class="visaRight">
              <div class="nameChuThe">CHỦ THẺ</div>
              <input type="text" name="" placeholder="Tên chủ thẻ" class="form-control" width="100%">
              <div class="nameChuThe">MÃ THẺ</div>
              <input type="text" name="" placeholder="Mã thẻ" class="form-control" width="100%">
            </td>
          </tr>
        </table>
      </div>
      <div id="mastercardContent">
        <table class="divCard">
          <tr>
            <td class="card">
              <img src="./assets/img/purchase-method/mastercard.png" class="imgCard">
            </td>
            <td class="mastercardRight">
              <div class="nameChuThe">CHỦ THẺ</div>
              <input type="text" name="" placeholder="Tên chủ thẻ" class="form-control" width="100%">
              <div class="nameChuThe">MÃ THẺ</div>
              <input type="text" name="" placeholder="Mã thẻ" class="form-control" width="100%">
            </td>
          </tr>
        </table>
      </div>
      <div id="napasContent">
        <table class="divCard">
          <tr>
            <td class="card">
              <img src="./assets/img/purchase-method/napas.png" class="imgCard">
            </td>
            <td class="napasRight">
              <div class="nameChuThe">CHỦ THẺ</div>
              <input type="text" name="" placeholder="Tên chủ thẻ" class="form-control" width="100%">
              <div class="nameChuThe">MÃ THẺ</div>
              <input type="text" name="" placeholder="Mã thẻ" class="form-control" width="100%">
            </td>
          </tr>
        </table>
      </div>
      <div style="margin-top: 20px;">
        <content class="hinhAnh">ĐƠN HÀNG</content>
        <div class="wrapperDonHang ">
          <div class="textGioHang ">
            SẢN PHẨM
          </div>
          <div class="textGioHang ">
            ĐƠN GIÁ
          </div>
          <div class="textGioHang ">
            SỐ LƯỢNG
          </div>
          {{#each items}}
          <div class="row hinhAnhGioHang ">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
              <img src="/assets/img/products/{{Product.ID}}/1.jpg" width="100% ">
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 " id="divChuGH ">
              <div class="nameDTGH ">{{Product.TenSanPham}}</div>
              <div class="mauDTGH ">{{Product.DungLuong}}GB, {{Product.TenMau}}</div>
            </div>
          </div>
          <div class="tienDTGH ">{{number_format Product.Gia}} đ</div>
          <div class="soLuongDTGH ">
            {{Quantity}}
          </div>
          {{/each}}
        </div>
        <div style="float: right; ">
          <div class="textTienGH ">Thành tiền:</div>
          <div class="tienGioHang ">{{number_format SumMoney}}đ</div>
        </div>
        <div class="btnHuyXacNhan ">
          <button class="btn btnHuy ">HỦY</button>
          <form action="" method="post">
            <button class="btn btnXacNhan ">XÁC NHẬN</button>
          </form>
        </div>
      </div>
      <!--Close div màu nền trắng-->
    </div>
  </div>
</div>