{{#section 'title'}} Kết quả tìm kiếm {{/section}}
{{#section 'header'}}
<link rel="stylesheet" type="text/css" href="/assets/css/productView.css">
<link rel="stylesheet" type="text/css" href="/assets/css/searchByName.css">
{{/section}}

<div class="around">
  <!--Màu xung quanh-->
  <div class="container">
    <!--Container-->
    <!--Điện thoại di động-->
    <div id="textDauTrang">
      <content id="textTrangchu">Trang chủ</content>
      <img src="/assets/icons/directory.png" id="hinhMuiTen">
      <content style="font-size: 15px;">Điện thoại di động</content>
    </div>
    <!--Close điện thoại di động-->
    <div>
      <!--Banner-->
      <img width="100%" height="auto" src="/assets/img/banners/banner1.png">
    </div>
    <!--Banner-->
    <div class="row" id="phanSanPham">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="leftPart">
        <!--div bên trái-->
        <div id="phanLoai">
          <!--Khung nhà sản xuât-->
          <content id="titlePhanLoai">NHÀ SẢN XUẤT</content>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">HTC</a>
          </div>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">Samsung</a>
          </div>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">Apple</a>
          </div>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">Oppo</a>
          </div>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">Xiaomi</a>
          </div>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">Huawei</a>
          </div>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">Honor</a>
          </div>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">Sharp</a>
          </div>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">Nokia</a>
          </div>
          <div>
            <a href="/productView.html" onclick="clickNSX(this)">Sony</a>
          </div>
          <div class="themNsx">
            <a href="/productView.html" onclick="clickNSX(this)">BlackBerry</a>
          </div>
          <div class="themNsx">
            <a href="/productView.html" onclick="clickNSX(this)">Wiko</a>
          </div>
          <div class="themNsx">
            <a href="/productView.html" onclick="clickNSX(this)">Philips</a>
          </div>
          <div id="phanXemThem">
            <a href="" onclick="return false;" class="xemThem">
              Xem thêm
              <img src="/assets/icons/down-arrow.png" id="hinhXemThem">
            </a>
          </div>
          <div id="phanThuGonNSX">
            <a href="" onclick="return false;" class="xemThem">
              Thu gọn
              <img src="/assets/icons/up-arrow.png" id="hinhXemThem">
            </a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung nhà sản xuât-->
        <div id="phanLoai">
          <!--Khung giá-->
          <content id="titlePhanLoai">GIÁ</content>
          <div>
            <content>Từ</content>
            <content id="den">Đến</content>
          </div>
          <div>
            <input type="text" class="form-control" name="" id="tienTrai"> &nbsp -
            <input type="text" class="form-control" name="" id="tienPhai">
            <div>
              <button class="btn" id="OK">
                OK
              </button>
            </div>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung giá-->
        <div id="phanLoai">
          <!--Khung đánh giá-->
          <content id="titlePhanLoai">ĐÁNH GIÁ</content>
          <div>
            <img src="/assets/icons/ratings/4.png" id="danhgia">
            <a>(ít nhất 4 sao)
              <br>
            </a>
            <a>
              <img src="/assets/icons/ratings/3.png" id="danhgia">
              <a>(ít nhất 3 sao)
                <br>
              </a>
              <a>
                <img src="/assets/icons/ratings/2.png" id="danhgia">
                <a>(ít nhất 2 sao)
                  <br>
                </a>
                <a>
                  <img src="/assets/icons/ratings/1.png" id="danhgia">
                  <a>(ít nhất 1 sao)
                    <br>
                  </a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung đánh giá-->
        <div id="phanLoai">
          <!--Khung kích thước màn hình-->
          <content id="titlePhanLoai">KÍCH THƯỚC MÀN HÌNH</content>
          <div>
            <a href="">Dưới 4.5 inch</a>
          </div>
          <div>
            <a href="">Từ 4.5 inch đến 5 inch</a>
          </div>
          <div>
            <a href="">Từ 5 inch đến 5.5 inch</a>
          </div>
          <div>
            <a href="">Trên 5 inch</a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung kích thước màn hình-->
        <div id="phanLoai">
          <!--Khung độ phân giải camera sau-->
          <content id="titlePhanLoai">ĐỘ PHÂN GIẢI CAMERA SAU</content>
          <div>
            <a href="">Dưới 8 MP</a>
          </div>
          <div>
            <a href="">Từ 8 MP đến 10 MP</a>
          </div>
          <div>
            <a href="">Từ 10 MP đến 14 MP</a>
          </div>
          <div>
            <a href="">Từ 14 MP đến 16 MP</a>
          </div>
          <div>
            <a href="">Trên 16 MP</a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung độ phân giải camera sau-->
        <div id="phanLoai">
          <!--Khung độ phân giải camera trước-->
          <content id="titlePhanLoai">ĐỘ PHÂN GIẢI CAMERA TRƯỚC</content>
          <div>
            <a href="">Dưới 5 MP</a>
          </div>
          <div>
            <a href="">Từ 5 MP đến 8 MP</a>
          </div>
          <div>
            <a href="">Từ 8 MP đến 12 MP</a>
          </div>
          <div>
            <a href="">Trên 12 MP</a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung độ phân giải camera trước-->
        <div id="phanLoai">
          <!--Khung dung lượng pin-->
          <content id="titlePhanLoai">DUNG LƯỢNG PIN</content>
          <div>
            <a href="">Dưới 2500 mAh</a>
          </div>
          <div>
            <a href="">Từ 2500 mAh đến 3500 mAh</a>
          </div>
          <div>
            <a href="">Từ 3500 mAh đến 5000 mAh</a>
          </div>
          <div>
            <a href="">Trên 3500 mAh</a>
          </div>
          <img src="/assets/misc/seperator.png" width="100%">
        </div>
        <!--Close khung dung lượng pin-->
        <div id="phanLoai">
          <!--Khung bộ nhớ-->
          <content id="titlePhanLoai">BỘ NHỚ</content>
          <div>
            <a href="">8 GB</a>
          </div>
          <div>
            <a href="">16 GB</a>
          </div>
          <div>
            <a href="">32 GB</a>
          </div>
          <div>
            <a href="">64 GB</a>
          </div>
          <div>
            <a href="">128 GB</a>
          </div>
          <div>
            <a href="">256 GB</a>
          </div>
        </div>
        <!--Close khung bộ nhớ-->
      </div>
      <!--Close div bên trái-->
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <!--Div bên phải-->
        <div class="divTimThay">
          <content>Tìm thấy</content>
          <content style="font-weight: bold;">{{countSearch}} kết quả</content>
          <content>phù hợp với từ khóa</content>
          <content style="font-weight: bold;">{{textSearch}}:</content>
        </div>

        <div class="row">
          {{#each sanphamSearch}}
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
            <div class="thumbnail itemProduct">
              <img class="imgProduct2" src="/assets/img/products/{{ID}}/1.jpg" alt="{{TenSanPham}}" title="{{TenSanPham}}">
              <div class="caption" style="text-align:center">
                <div class="nameProduct2">{{TenSanPham}}</div>
                <content class="priceProduct2">{{number_format Gia}} đ</content>
                <img src="/assets/icons/ratings/{{Rate}}.png" class="danhgiaRight">
                <div id="btnThem">
                  <button class="btn Them btnThemVaoGio">THÊM VÀO GIỎ</button>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>

        <!--Close wrapper-->
      </div>
      <!--Close div bên phải-->
    </div>
  </div>
  <!--Close Container-->
</div>
<!--Close Màu xung quanh-->

{{#section 'script'}}
<script>
  $(".btnThemVaoGio").click(function (event) {
    if (sessionStorage.getItem("username")) {

    }
    else {
      $("#myModal").show();
    }

  });
  $("#btnXacNhanDK").click(function () {
    $("#myModal").hide();
    window.location.href = "/login.html";
  })
</script>
<script type="text/javascript" src="/assets/js/productDetail.js"></script>
 {{/section}}