{{#section 'title'}} Chi tiết sản phẩm {{/section}}
{{#section 'header'}}
<link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
<link rel="stylesheet" type="text/css" href="/assets/css/cart.css">
<link rel="stylesheet" type="text/css" href="/assets/css/productView.css">
<link rel="stylesheet" type="text/css" href="/assets/css/productDetail.css">
{{/section}}

{{#section 'moTaFixed'}}
<div class="navbarMoTaFixed">
  <!--Div mô tả, thông số-->
  <div class="container">
    <ul class="nav navbar-nav ulNav" id="navbarMoTaFixed">
      <li>
        <a href="#details" class="mota" id="navDetails">Mô tả</a>
      </li>
      <li>
        <a href="#photos" class="mota" id="navPhotos">Hình ảnh</a>
      </li>
      <li>
        <a href="#specs" class="mota" id="navSpecs">Thông số kĩ thuật</a>
      </li>
      <li>
        <a href="#ratings" class="mota" id="navRatings">Đánh giá</a>
      </li>
      <li id="divThemDetail">
        <button class="btn btnThemDetail btnThemVaoGio" onclick="$('#quantInput').fadeIn();return false;">THÊM VÀO GIỎ</button>
      </li>
    </ul>
  </div>
</div>
<!--Close div mô tả, thông số-->
{{/section}}

<div class="around">
  <!--Màu xung quanh-->
  <div class="container">
    <!--Container-->
    <!--Điện thoại di động-->
    <div id="textDauTrang">
      <content id="textTrangchu">Trang chủ</content>
      <img src="/assets/icons/directory.png" id="hinhMuiTen"> {{#each sanPhamDetail}}
      <content id="textTrangchu">{{LoaiSP}}</content>
      <img src="/assets/icons/directory.png" id="hinhMuiTen">
      <content style="font-size: 15px;">{{TenSanPham}}</content>
      {{/each}}
    </div>
    <!--Close điện thoại di động-->
    <div style="position: relative;">
      <!--chứa navbar mô tả và bg-->
      <div class="crop">
        <!--Background điện thoại-->
        <img src="/assets/img/products/bg/htc-u-ultra-bg.jpg">
      </div>
      <!--Close Background điện thoại -->
      <nav>
        <!--Nav mô tả, thông số-->
        <div class="navbarMoTa">
          <ul class="nav navbar-nav ulNav">
            <li>
              <a href="#details" class="mota">Mô tả</a>
            </li>
            <li>
              <a href="#photos" class="mota">Hình ảnh</a>
            </li>
            <li>
              <a href="#specs" class="mota">Thông số kĩ thuật</a>
            </li>
            <li>
              <a href="#ratings" class="mota">Đánh giá</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Close nav mô tả, thông số-->
      <div class="wrapper3">
        {{#each sanPhamDetail}}
        <div class="DT">
          <img src="/assets/img/products/{{ID}}/1.jpg" class="hinhDienThoai">
        </div>
        {{/each}}
        <div class="InfoDT1">
          {{#each sanPhamDetail}}
          <content class="nameDT">{{TenSanPham}}</content>
          {{/each}}
          <div>
            <img src="/assets/icons/ratings/{{StarRate}}.png" class="imgRating">
            {{#each soDanhGia}}
            <content class="danhGia">| {{rst}} đánh giá</content>
            {{/each}}
          </div>
        </div>

        <div class="InfoDT2">
          {{#each numbersColor}}{{#if isCurentColor}}
          <div class="tien">
            {{number_format color.Gia}} đ
          </div>
          <div style="font-size: 17px;">
            <img src="/assets/icons/view-detail.png" class="luotxem">
            <content class="soLuotXem"> &nbsp {{color.LuotXem}}</content>
            &nbsp lượt xem
          </div>
          <div style="font-size: 17px;">
            <img src="/assets/icons/sale-detail.png" class="luotxem">
            <content class="soLuotXem"> &nbsp {{color.LuotMua}}</content>
            &nbsp lượt mua
          </div>
          {{/if}}
          {{/each}}
          <div id="divThem">
            <button class="btn btnThemDetail btnThemVaoGio" onclick="$('#quantInput').fadeIn();return false;">THÊM VÀO GIỎ</button>
          </div>
        </div>
        <div class="cropSeperator">
          <img src="/assets/misc/seperator-detail-doc.png">
        </div>
        <div style="display: inline-block;">
          <div>
            <!--Màu sắc-->
            <div class="thongTinPhai">Màu sắc</div>
              <!--Hình tròn màu đen-->
              {{#each numbersColor}}
              <div class="hinhTron">
              {{#if isCurentColor}}
              <a href="?color={{value}}"><svg height="30" width="30">
                <circle cx="15" cy="15" r="12" stroke=#{{color.MaMau}} stroke-width="1" />
                <circle cx="15" cy="15" r="10" stroke="white" stroke-width="3" fill=#{{color.MaMau}} class="den" />
              </svg></a>
              <div>{{color.TenMau}}</div>
              {{else}}
              <a href="?color={{value}}"><svg height="30" width="30">
                <circle cx="15" cy="15" r="12" stroke="black" stroke-width="1" />
                <circle cx="15" cy="15" r="10" stroke="white" stroke-width="0" fill=#{{color.MaMau}} class="do" />
              </svg></a>
              <div>{{color.TenMau}}</div>
              {{/if}}
              </div>
              {{/each}}
          
            <!--Hình tròn màu đen-->
          </div>
          <!--Close màu sắc-->
          <div>
            <!--Dung lượng-->
            <div class="thongTinPhai" style="margin-right: 20px;">Dung lượng</div>
            {{#each arrDungLuong}}
            {{#if isCurentDL}}
            <a href="?DungLuong={{value}}">
            <button class="btn btn64" id="dungLuongactive" style="font-weight: bold;">
              {{DungLuong}}GB
            </button>
            </a>
            {{else}}
             <a href="?DungLuong={{value}}">
            <button class="btn" id="dungLuong" style="font-weight: bold;">
              {{DungLuong}}GB
            </button>
            </a>
            {{/if}}
            {{/each}}
            {{!-- <button class="btn btn64" id="dungLuong64" style="font-weight: bold;">
              64GB
            </button> --}}
          </div>
          <!--Close dung lượng-->
          {{#each sanPhamDetail}}
          <div>
            <!--Bảo hành-->
            <div class="thongTinPhai">Bảo hành</div>
            <content class="thangBaoHanh">{{BaoHanh}} tháng</content>
          </div>
          {{/each}}
          <!--Close bảo hành-->
        </div>
      </div>
      <!--Close wrapper3-->
    </div>
    <!--chứa navbar mô tả và bg-->
    <div class="row ThongTinChiTiet">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 benTrai">
        <!--Div bên trái-->
        <content class="moTa" id="details">MÔ TẢ</content>
        {{#each moTa}} {{#if normal}}
        <img src="/assets/img/products/{{ID0}}/mota/mota{{ID}}.jpg" class="hinhTo">
        <div id="content1">
          {{NoiDung}}
        </div>
        {{else}}
          <img src="/assets/img/products/{{ID0}}/mota/mota{{ID}}.jpg" class="hinhTo">
          <div class="reflect">{{GhiChu}}</div>
          <div id="content1">
            {{NoiDung}}
          </div>
        {{/if}}
        {{/each}}
        {{#each moTaThem}}
        <div id="listenUHide">
          <img src="/assets/img/products/{{ID0}}/mota/mota{{ID}}.jpg" class="hinhTo">
          <div class="reflect" style="color: #fff">Listens to U</div>
          <div id="content1" style="color: #fff">
            {{NoiDung}}
          </div>
        </div>
        {{/each}}

        {{#if hasMore}}
        <div id="divXemThemDetail" class="btnXemThem">
          <a href="" onclick="return false;" id="xemthem">
            Xem thêm
            <img src="/assets/icons/down-arrow-white.png" id="imgxemThem">
          </a>
        </div>
        {{/if}}
        <div id="divThuGonDetail" class="btnXemThem">
          <a href="" onclick="return false;" id="xemthem">
            Thu gọn
            <img src="/assets/icons/up-arrow-white.png" id="imgxemThem">
          </a>
        </div>
        <div id="detailsEnd"></div>
        <div class="slideHinhAnh" id="photos">
          <!--Tit slide Hình ảnh-->
          <content class="hinhAnh">HÌNH ẢNH</content>
        </div>
        <div class="slideHinhAnh" style="margin-bottom: 100px;">
          <!--Slide Hình ảnh-->
          <div class="hinhToHienThi">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                {{#each slide}}
                {{#if active}}
                <div class="item active">
                  <img src="/assets/img/products/{{ID}}/slide/slide{{value}}.jpg"  width="100%">
                </div>
                {{else}}
                <div class="item">
                  <img src="/assets/img/products/{{ID}}/slide/slide{{value}}.jpg" width="100%">
                </div>
                {{/if}}
                {{/each}}
              </div>
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background-image: none; margin-left: -50px;">
                <img src="/assets/icons/to-left-arrow.png" width="50px" class="btnLeft leftPV">
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background-image: none;">
                <img src="/assets/icons/to-right-arrow.png" width="50px" class="btnRight rightPV">
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="carousel-indicators" style="left: 63px; margin-bottom: -90px; width: 1000px;">
              {{#each slide}}
              <div data-target="#myCarousel" class="cropHinhNho">
                <img src="/assets/img/products/{{ID}}/slide/slide{{value}}.jpg">
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        <!--Slide Hình ảnh-->
        <div id="photosEnd"></div>
        <div class="duoiSlide">
          <div class="textThongSo" id="specs">
            <content class="hinhAnh">THÔNG SỐ KỸ THUẬT</content>
            <button class="btn btnSoSanh">SO SÁNH</button>
          </div>
          <!--table thông số-->
          <table class="tableThongSo">
            {{#each thongso}}
            <tr class="nameThongSo">
              <td class="cotTrai">{{TenThuocTinh}}</td>
              <td>{{ChiTietThuocTinh}}</td>
            </tr>
            {{/each}}
          </table>
          <div id="specsHide">
            <table class="tableThongSo" style="margin-top: 0px;">
              {{#each thongsothem}}
              <tr class="nameThongSo">
                <td class="cotTrai">{{TenThuocTinh}}</td>
                <td>{{ChiTietThuocTinh}}</td>
              </tr>
             {{/each}}
            </table>
          </div>
          {{#if hasMoreThongSo}}
          <div id="divXemThemSpecs" class="btnXemThem">
            <a href="" onclick="return false;" id="xemthem">
              Xem thêm
              <img src="/assets/icons/down-arrow-white.png" id="imgxemThem">
            </a>
          </div>
          {{/if}}
          <div id="divThuGonSpecs" class="btnXemThem">
            <a href="" onclick="return false;" id="xemthem">
              Thu gọn
              <img src="/assets/icons/up-arrow-white.png" id="imgxemThem">
            </a>
          </div>
          <div id="specsEnd"></div>
          <!--Close table thông số-->
          <!--Đánh giá-->
          <content class="hinhAnh" id="ratings">ĐÁNH GIÁ</content>
          <div class="wrapperDanhGia">
            <div class="wrapTrai">
              {{#each sanPhamDetail}}
              <div class="trungBinhRating">{{Rate}}</div>
              {{/each}}
              <img src="/assets/icons/ratings/{{StarRate}}.png" class="ratingWrap">
              {{#each soDanhGia}}
              <div class="soLuongDanhGia">{{rst}} đánh giá</div>
              {{/each}}
            </div>
            <div style="padding-top: 0px;">
              <div class="wrapperPrg ">

                <div>5 sao</div>
                {{#each rate5}}
                <div class="progress">
                  <div class="progress-bar" style="width:100%">
                  </div>
                </div>
                <div>{{cntRate}}</div>
                {{/each}}

                <div>4 sao</div>
                 {{#each rate4}}
                <div class="progress">
                  <div class="progress-bar" style="width:100%">
                  </div>
                </div>
                <div>{{cntRate}}</div>
                 {{/each}}

                <div>3 sao</div>
                 {{#each rate3}}
                <div class="progress">
                  <div class="progress-bar" style="width:100%">
                  </div>
                </div>
                <div>{{cntRate}}</div>
                {{/each}}

                 <div>2 sao</div>
                {{#each rate2}}
                <div class="progress">
                  <div class="progress-bar" style="width:100%">
                  </div>
                </div>
                <div>{{cntRate}}</div>
                {{/each}}

                <div>1 sao</div>
                {{#each rate1}}
                <div class="progress">
                  <div class="progress-bar" style="width:100%">
                  </div>
                </div>
                <div>0</div>
                {{/each}}
               
              </div>
            </div>
            <div class="seperatorNgang">
              <img src="/assets/misc/seperator-detail-rating.png" width="100%">
            </div>
            <div class="guiDanhGia">Gửi đánh giá của bạn</div>
            <div class="divRating">
              <img src="/assets/icons/rate.png" id="rate" class="1sao">
              <img src="/assets/icons/rate.png" id="rate" class="2sao">
              <img src="/assets/icons/rate.png" id="rate" class="3sao">
              <img src="/assets/icons/rate.png" id="rate" class="4sao">
              <img src="/assets/icons/rate.png" id="rate" class="5sao">
            </div>
          </div>
        </div>
        <div id="ratingsEnd"></div>
        <!--Close đánh giá-->
      </div>
      <!--Div bên trái-->
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <content class="spCungLoai">5 SẢN PHẨM CÙNG LOẠI</content>
        <div class="wrapperSanPhamRight">
          {{#each SPCungLoai}}
          <!--Wrapper sản phẩm cùng loại-->
          <div class="itemIndex box">
            <img class="imgSpRight" src="/assets/img/products/{{ID}}/1.jpg">
            <content class="nameSpRight">{{TenSanPham}}</content>
            <content class="priceSpRight">{{number_format Gia}}đ</content>
          </div>
          {{/each}}
        </div>
        <!-- Close wrapper sản phẩm cùng loại-->
        <content class="spCungLoai">5 SẢN PHẨM CÙNG NSX</content>
        <div class="wrapperSanPhamRight">
          <!--Wrapper sản phẩm cùng nsx-->
          <div class="itemIndex box">
            <img class="imgSpRight" src="/assets/img/products/htc-u-ultra.png">
            <content class="nameSpRight">HTC U Ultra</content>
            <content class="priceSpRight">9.990.000 đ</content>
          </div>
          <div class="itemIndex box">
            <img class="imgSpRight" src="/assets/img/products/htc-one-a9s.jpg">
            <content class="nameSpRight">HTC One A9s</content>
            <content class="priceSpRight">2.790.000 đ</content>
          </div>
          <div class="itemIndex box">
            <img class="imgSpRight" src="/assets/img/products/htc-10-evo.jpg">
            <content class="nameSpRight">HTC 10 Evo</content>
            <content class="priceSpRight">4.490.000 đ</content>
          </div>
          <div class="itemIndex box">
            <img class="imgSpRight" src="/assets/img/products/htc-u-play.jpg">
            <content class="nameSpRight">HTC U Play</content>
            <content class="priceSpRight">4.190.000 đ</content>
          </div>
          <div class="itemIndex box">
            <img class="imgSpRight" src="/assets/img/products/htc-10.jpg">
            <content class="nameSpRight">HTC 10</content>
            <content class="priceSpRight">6.990.000 đ</content>
          </div>
        </div>
        <!--Close wrapper sản phẩm cùng nsx-->
      </div>
    </div>
  </div>
  <!--Close Container-->
</div>

<div id="quantInput" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          {{#if isLogged}}
          <div class="row">
            {{#each sanPhamDetail}}
          <h2>{{TenSanPham}}</h2>
          {{/each}}
          <!--Màu sắc-->
            <div class="thongTinPhai">Màu sắc</div>
            <div class="hinhTron">
              <!--Hình tròn màu đen-->
              <svg height="30" width="30">
                <circle cx="15" cy="15" r="12" stroke="black" stroke-width="1" />
                <circle cx="15" cy="15" r="10" stroke="white" stroke-width="3" fill="black" class="den" />
              </svg>
              <div>Đen</div>
            </div>
            <!--Hình tròn màu đen-->
            <div>
            <!--Dung lượng-->
            <div class="thongTinPhai" style="margin-right: 20px;">Dung lượng</div>
            <button class="btn" id="dungLuong32" style="font-weight: bold;">
              32GB
            </button>
          </div>
          <!--Close dung lượng-->
            <h4>Vui lòng nhập số lượng</h4>
          </div>
          <div class="soLuongDT">
              <div class="count-input">
                <a class="incr-btn btnGiamKhoiGio" data-action="decrease" href="#">–</a>
                <input type="text" class="inputQuantity" name="quantity" value="1" />
                <a class="incr-btn btnThemVaoGio" data-action="increase" href="#">&plus;</a>
              </div>
            </div>
          <div class="row">
            <button class="btn btnThemDetail" onclick="$('#quantInput').fadeOut();return false;"><b>HỦY</b></button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btnThemDetail btnThemVaoGio" onclick="$('#quantInput').fadeIn();return false;">THÊM VÀO GIỎ</button>
          </div>
          {{else}}
          <div class="row">
            <h4>Vui lòng đăng nhập để tiếp tục.</h4>
          </div>
          <div class="row">
            <button type="button" class="btn btn-success btn-md" id="btnChuyenDN">ĐĂNG NHẬP</button>
          </div>
          {{/if}}
        </div>
      </div>

<!--Close Màu xung quanh-->
{{#section 'script'}}
<script>
  $(".btnThemVaoGio").click(function (event) {
    if (sessionStorage.getItem("username")) {
    }
    else {
      $("#myModal").show();
    }
  });
  $("#btnXacNhanDK").click(function () {
    $("#myModal").hide();
    window.location.href = "/login";
  })
  $(document).keyup(function(e) {
     if (e.keyCode == 27) {
       $('#quantInput').fadeOut();
       return false;
    }
});
</script>
<script type="text/javascript" src="/assets/js/productDetail.js"></script>

{{/section}}