{{#section 'title'}}
Đơn hàng chi tiết
{{/section}}

{{#section 'header'}}
  <link rel="stylesheet" type="text/css" href="/assets/css/packageDetail.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/cart.css">
{{/section}}

  <div class="background">
    <!--Background-->
    <div class="container" style="margin-bottom: 50px;">
      <div class="container">
        <div class="row">
          {{#each package}}
          <!--Row-->
          <div>
            <div class="wrapperPackage" style="margin-top: 100px;">
              <!--wrapper id don hang-->
              <div>
                <div>
                  <content class="nameInfo">
                    Đơn hàng
                    <content id="packageID">#{{MaDonHang}}</content>
                  </content>
                </div>
              </div>
              {{#if status}}
              <div align="right" style="margin-top: 10px;">
                <button class="btn btnHuyPackage" onclick="$('#xoaDonHang').fadeIn();return false;">
                  HỦY ĐƠN HÀNG
                </button>
              </div>
              {{/if}}
            </div>
            <!--table thong tin-->
            <!--wrapper id don hang-->
            <div class="wrapperInfo">
              <div style="width: 100%; margin-left: 220px;">
                  <!--thong tin giao hang view-->
                  <table class="seperatorNgangInfo" style="display: inline-block; margin-bottom: -30px; margin-top: 30px;">
                    <tr>
                      {{#if isXacNhan}}
                      <td id="processing" class="chiTietGH doneGH">
                        <img src="/assets/icons/package-processing/processing.png" style="width: 35px;">
                      </td>
                      <td id="psConnector">
                        <div class="ctghConnector notdoneGH">
                        </div>
                      </td>
                      <td id="shipping" class="chiTietGH notdoneGH">
                        <img src="/assets/icons/package-processing/shipping.png" style="width: 35px;">
                      </td>
                      <td id="psConnector">
                        <div class="ctghConnector notdoneGH">
                        </div>
                      </td>
                      <td id="shipping" class="chiTietGH notdoneGH">
                        <img src="/assets/icons/package-processing/shipped.png" style="width: 35px;">
                      </td>
                      {{/if}}
                      {{#if isGiaoHang}}
                      <td id="processing" class="chiTietGH doneGH">
                        <img src="/assets/icons/package-processing/processing.png" style="width: 35px;">
                      </td>
                      <td id="psConnector">
                        <div class="ctghConnector doneGH">
                        </div>
                      </td>
                      <td id="shipping" class="chiTietGH doneGH">
                        <img src="/assets/icons/package-processing/shipping.png" style="width: 35px;">
                      </td>
                      <td id="psConnector">
                        <div class="ctghConnector notdoneGH">
                        </div>
                      </td>
                      <td id="shipping" class="chiTietGH notdoneGH">
                        <img src="/assets/icons/package-processing/shipped.png" style="width: 35px;">
                      </td>
                      {{/if}}
                      {{#if isNhanHang}}
                      <td id="processing" class="chiTietGH doneGH">
                        <img src="/assets/icons/package-processing/processing.png" style="width: 35px;">
                      </td>
                      <td id="psConnector">
                        <div class="ctghConnector doneGH">
                        </div>
                      </td>
                      <td id="shipping" class="chiTietGH doneGH">
                        <img src="/assets/icons/package-processing/shipping.png" style="width: 35px;">
                      </td>
                      <td id="psConnector">
                        <div class="ctghConnector doneGH">
                        </div>
                      </td>
                      <td id="shipping" class="chiTietGH doneGH">
                        <img src="/assets/icons/package-processing/shipped.png" style="width: 35px;">
                      </td>
                      {{/if}}
                    </tr>
                  </table>
                  <table class="seperatorNgangInfo" style="display: inline-block; margin-bottom: -10px; text-align: center;">
                    <tr style="margin: auto;">
                      {{#if isXacNhan}}
                      <td width="60px" style="padding: 0px;" class="chiTietGHText doneGHText">
                        Xác nhận
                      </td>
                       <td width="180px"></td>
                      <td width="60px" style="padding: 0px;" class="chiTietGHText notdoneGHText">
                        Giao hàng
                      </td>
                      <td width="180px"></td>
                      <td width="65px" style="padding: 0px;" class="chiTietGHText notdoneGHText">
                        Nhận hàng
                      </td>
                      {{/if}}
                      {{#if isGiaoHang}}
                      <td width="60px" style="padding: 0px;" class="chiTietGHText doneGHText">
                        Xác nhận
                      </td>
                       <td width="180px"></td>
                      <td width="60px" style="padding: 0px;" class="chiTietGHText doneGHText">
                        Giao hàng
                      </td>
                      <td width="180px"></td>
                      <td width="65px" style="padding: 0px;" class="chiTietGHText notdoneGHText">
                        Nhận hàng
                      </td>
                      {{/if}}
                      {{#if isNhanHang}}
                      <td width="60px" style="padding: 0px;" class="chiTietGHText doneGHText">
                        Xác nhận
                      </td>
                       <td width="180px"></td>
                      <td width="60px" style="padding: 0px;" class="chiTietGHText doneGHText">
                        Giao hàng
                      </td>
                      <td width="180px"></td>
                      <td width="65px" style="padding: 0px;" class="chiTietGHText doneGHText">
                        Nhận hàng
                      </td>
                      {{/if}}
                    </tr>
                  </table>
                  <!--thong tin giao hang view-->
              </div>

              <div class="seperatorNgangInfo" style="margin-top: 20px">
                <img src="/assets/misc/seperator-AccInfo-Package.png" style="width: 100%">
              </div>
              <!--wrapper thông tin-->
              {{#each arrSanPham}}
              <div class="infoTable" style="width: 100%; margin-top: 0px;">
                <!--wrapper thông tin đơn hàng-->
                <div>
                  <img src="/assets/img/products/{{IDSanPham}}/1.jpg" id="infoThumbnail" class="infoThumbnail" />
                </div>
                <div class="alignMiddle">
                  <div id="packageName" style="font-size: 14pt">{{TenSanPham}}</div>
                  <div id="varient" class="varient" style="font-size: 12pt">
                    <content id="storage">
                      {{DungLuongSP}}GB
                    </content>
                    <content>
                      ,&nbsp
                    </content>
                    <content id="color">
                      {{TenMauSP}}
                    </content>
                  </div>
                </div>
                <div id="infoPrice" class="alignMiddle infoPrice" style="font-size: 16pt;">
                  {{number_format GiaTien}} đ
                </div>
                <div id="infoQty" class="alignMiddle" style="font-size: 16pt;">
                  {{SoLuongSP}}
                </div>
              </div>
              {{/each}}
              <!--wrapper thông tin đơn hàng-->
              <div class="seperatorNgangInfo">
                <img src="/assets/misc/seperator-AccInfo-Package.png" style="width: 100%">
              </div>
              <div class="total" style="width: 100%;">
                <div id="status" class="alignMiddle" style="margin-bottom: 20px;">
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight: bold">
                      Địa chỉ:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                      {{DiaChiNguoiNhan}}
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight: bold">
                      Số điện thoại:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                      {{SDTNguoiNhan}}
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight: bold">
                      Phương thức thanh toán:
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                      {{PhuongThucThanhToan}}
                    </div> 
                  </div>
                </div>
                <div class="alignMiddle grandTotalText">
                  <content class="grandTotalLable">
                    Thành tiền:
                  </content>
                  <content>
                    &nbsp&nbsp&nbsp&nbsp
                  </content>
                  <content id="grandTotal" class="grandTotalPrice">
                   {{number_format TongTienDonHang}} đ
                  </content>
                </div>
              </div>
            </div>
            <!-- Close wrapper thông tin-->
          </div>
          {{/each}}
        </div>
        <!--Close row-->
      </div>
      <!--Close Container-->
    </div>
    <!--Close background-->

<div id="xoaDonHang" class="modal">
  <!-- Modal content -->
  <form method="POST">
  <div class="modal-content">
    <div class="row">
      <h4>Xóa đơn hàng này?</h4>
    </div>
    <div class="row">
      {{!-- <a href="/package"> --}}
      <button type="submit" class="btn btn-danger btn-md" id="btnXoaDonHang">Xóa</button>
      {{!-- </a> --}}
      <button type="button" class="btn btn-md" id="btnCancel">Cancel</button>
    </div>
  </div>
  </form>
</div>


{{#section 'script'}}
 <script>
   $("#btnCancel").click(function(){
     $("#xoaDonHang").hide();
   })
      $(".btnHuyPackage").click(function () {
        $("#myModal").show();
      })
      $("#btnHuyGioHang").click(function () {
        $("#myModal").hide();
        window.location.href = "/cart.html";
      })
      $("#btnKhongHuyGioHang").click(function () {
        $("#myModal").hide();
      })
    </script>
{{/section}}

